<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.wan.home">

    <application android:label="home">
        <activity android:name=".debug.HomeActivity"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>